@model ASPDOTNETCARHWK.RentAMiniBus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentAMiniBus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAddess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinibusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinibusID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentAMiniBusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
