@model IEnumerable<ASPDOTNETCARHWK.RentAMiniBu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAddess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinibusID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailAddess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinibusID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentAMiniBusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentAMiniBusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentAMiniBusID })
        </td>
    </tr>
}

</table>
